phase 3/phase3.cr.mti
phase 3/dump.vcd
phase 3/phase3.mpf
phase 3/verilogsim.plog
phase 3/vsim.wlf
phase 3/work/_info
phase 3/work/_lib.qdb
phase 3/work/_lib1_10.qdb
phase 3/work/_lib1_10.qpg
phase 3/work/_lib1_10.qtl
phase 3/work/_vmake
phase 3/verilogsim.plog
output
